spring:
  application:
    name: clinic-management

  datasource:
    url: jdbc:mysql://localhost:3306/clinic_db
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8881

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.clinic.management: DEBUG
